DEBUG=0
SECRET_KEY=django-insecure-3pm2v=6lk@p4!z#5fh8n8eap5=8!c4mlf)qg&4+3__$z^_+an8
ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 127.0.0.1:8000
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=cash_mashine
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=cash_db
POSTGRES_PORT=5432